<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type = text/javascript>
        $(function(){
            $('a#process_input').bind('click',function(){
                $.getJSON('/background_process',{
                    proglang: $('input[name="proglang"]').val(),
                },function(data){
                    $("#result").text(data.result);
                });
                return false;
            });
        });
    </script>
</head>
<body class="body">
    <div>
        <form>
            <h3>User Input</h3>
            <input type=text name = proglang>
            <a href="#" id = process_input><button class='btn btn-default'>Submit</button></a>
        </form>
        <p id=result>...</p>
    </div>
</body>
</html>